/* 
    Created on : 20 Apr 2020, 09:37:54
    Author     : Naywia
*/

html, body {
    margin: 0;
}

/* Header for all pages */
header {
    height: 50px;
    display: flex;
    align-items: center;
    color: #000;
    background-color: #ccc;
}

/* The header contains three divs. One on the left, one with a title and one on the right to center everyhting else */
.headerLeft, .headerRight {
    flex: 1;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    margin: 0;
    font-size: 38px;
}
