/* 
    Created on : 20 Apr 2020, 09:37:54
    Author     : Naywia
*/

html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #CDCDCD;
}

/*------------------------------------NAVBAR----------------------------------*/
.navbar {
    display: flex;
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 0 10px 0;
}

.navbar a:hover {
    font-weight: 900;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 16%;
}

.logoImage {
    max-width: 75px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 15px
}

.title h1 {
    margin: 0;
    font-size: 38px;
}

.navLinks {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.navLink {
    color: #fff;
    text-align: center;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    font-size: 17px;
}



/*-----------------------------------login------------------------------------*/
.loginForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loggedIn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 10%;
}

.loggedOut {
    display: flex;
    width: 2%;
}

.labels{

}

.inputs {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 3px;
}

#login {
    border-radius: 5px;
    border-style: solid;
    background: white;
}

#logout {
    display: flex;
    border-radius: 5px;
    border-style: solid;
    background: white;
    margin: 0px 15px 8px 0px;
}



/*-------------------------------GAME GALLERY---------------------------------*/
.titles {
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
}

.container{

}

.gameSection{
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
    padding: 25px 0 0 0;
}

#gameGallery{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
}

#search {
    margin-left: 30px;
}

.gameImages{
    display: flex;
}

.gamePicture{
    display: flex;
    width: 610px;
    margin: 10px 10px 10px 10px;
}

.gamePicture:hover {
    z-index: 1;
}


/*--------------------------------------GAME----------------------------------*/
.gameImage{
    width: 600px;
}

#gameInfo{
    display: flex;
    flex-direction: column;
}

#game{
    display: flex;
    flex: 1;
}

#heading{
    flex: 1;
    padding: 0px 0px 0px 50px
}

#heading a {
  color: #1f1f1f;
  text-decoration: none;
}

#heading a:visited {
  color: #1f1f1f;
}

#heading a:hover {
  color: #1f1f1f;
  text-decoration: underline;
  font-weight: bold;
}

#heading a:active {
  color: #1f1f1f;
}

.indentGame{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0px 0px;
}

#gameInfo p{
    width: 600px;
}

.animate {
    width: 800px;
}
.animateRevert {
    width: 600px;
}


/*------------------------------------FOOTER----------------------------------*/
#footer {
    display: flex;
    background-color: #1f1f1f;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    overflow: hidden;
    z-index: 2;
    
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}

.footerLeft {
    display: flex;
    justify-content: flex-start;
    padding: 17px 0px;
    width: 50%;
}
.footerRight{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    width: 50%;
}

.footerLinks {
    margin: 0 0 0;
    color: #2e8b57;
    text-transform: uppercase;
    padding: 0;
}

.footerLinks a {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    margin: 0 10px 0 0;
    color: #fff;
    padding: 0;
}


.footerLinks a:hover{
    color: #2e8b57;
}
    
        

/*---------------------------------MEDIA TAGS---------------------------------*/
@media (max-width: 900px) {
    .loginForm {
        flex-direction: column;
    }
}

@media (max-width: 620px) {

}