/* 
    Created on : 21 Apr 2020, 13:13:22
    Author     : Naywia
*/

.gameImage{
    width: 600px;
}

.gameInfo{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
}

.game{
    display: flex;
}